/* 
brand-color: #fcd750;
color: #2d2c4c;
background-color-light-blue: #bce3f5;
blue-color: #20a5e6;

*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  color: #2d2c4c;
}

.section {
  padding: 200px 0 150px 0;
}

.container {
  margin: 0 200px 0 200px;
}

.heading-small {
  font-size: 75px !important;
  margin-bottom: 12px;
}

.heading-xs {
  font-size: 36px !important;
  letter-spacing: -1px !important;
  margin-bottom: 24px;
}

/* Nav-bar */

.nav-container {
  width: 100%;
  background-color: #fcd750;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  padding: 0 48px;
  width: 1200px;
  height: 72px;
  padding: 60px 40px 50px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 66px;
  width: 300px;
}

.nav-lists {
  height: 40px;
  width: 500px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link:link,
.nav-link:visited {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  transition: color 0.2s ease 0s;
}

.nav-link:hover,
.nav-link:active {
  color: #20a5e6;
}

/* Hero-section */

.section-hero {
  background-color: #fcd750;
  padding: 180px 0 160px 0;
}

.hero-message {
  display: flex;
  gap: 60px;
  margin-bottom: 12px;
}

.hero-title {
  width: 740px;
}

.hero-label,
.content-label {
  background-color: #2d2c4c;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
  padding: 3px 6px;
  margin-bottom: 10px;

  display: inline-block;
}

.hero-heading,
.content-heading {
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 112px;
  line-height: 1;
  letter-spacing: 2px;
}

.hero-img {
  max-width: 400px;
}
.hero-subtitle {
  width: 50%;
  font-size: 24px;
  margin-bottom: 96px;
}

/* Hero-cards */

.hero-cards {
  display: flex;
  justify-content: space-between;
}

.hero-card,
.content-card {
  display: flex;
  flex-direction: column;
  flex-basis: 310px;
}

.hero-card-icon {
  height: 80px;
  margin-bottom: 40px;
}

.hero-card-title,
.content-card-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #20a5e6;
  margin-bottom: 10px;
}

.hero-card-description,
.content-card-description {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 40px;
  width: 80%;
}

.hero-card-button:link,
.hero-card-button:visited {
  background-color: #20a5e6;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 14px;
  font-size: 10px;
  letter-spacing: 1px;
  transition: color 0.2s ease 0s;
  width: 150px;
  border-radius: 4px;
  text-align: center;
}

.hero-card-button:hover,
.hero-card-button:active {
  background-color: #35ade9;
}

/* Process-section */

.process-container,
.services-container,
.how-container {
  display: flex;
  gap: 60px;
}

.content-title {
  margin-bottom: 90px;
}

.brand-img {
  width: 250px;
}

.content-subtitle {
  font-size: 24px;
  margin-bottom: 12px;
}

.content-cards {
  display: flex;
  justify-content: space-between;
}

/* Features-section */

.section-features {
  background-color: #bce3f5;
}

.content-cards-img {
  margin: 0 60px;
}

.contert-card-img-container {
  margin-bottom: 90px;
  justify-self: center;
}

.card-with-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* Services-section */

/* Section-about */

.section-about {
  background-color: #fcd750;
  padding: 80px 0 80px 0;
}

.about-container {
  text-align: center;
}

.about-icon {
  height: 60px;
  display: inline-block;
  margin-bottom: 24px;
}

.content-description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.about-button:link,
.about-button:visited {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  display: inline-block;
  font-size: 14px;
  background-color: #2d2c4c;
  color: #fff;
  padding: 14px 24px;
  border-radius: 7px;
  transition: color 0.2s ease 0s;
}

.about-button:hover,
.about-button:active {
  background-color: #3d3c68;
}

/* Section-how */

.button-CTA:link,
.button-CTA:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #20a5e6;
  color: #fff;
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 6px;
  transition: color 0.2s ease 0s;
}

.button-CTA:hover,
.button-CTA:active {
  background-color: #35ade9;
}

/* footer */

.footer {
  padding: 80px 0 100px;
  background-color: #2d2c4c;
  color: #fff;
}

.container-footer {
  display: flex;
  gap: 90px;
}

.dot-img {
  width: 32px;
}

.footer-nav-links {
  list-style: none;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fcd750;
  font-size: 14px;
  margin-bottom: 10px;
  transition: color 0.2s ease 0s;
}

.footer-nav-link:hover,
.footer-nav-link:active {
  color: #20a5e6;
}

.reg-details {
  list-style: none;
  color: #fff;
  font-size: 12px;
}

.reg-details li {
  margin-bottom: 10px;
}

.follow {
  margin-left: auto;
}

.follow-us {
  font-size: 36px;
  color: #20a5e6;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.follow-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-logo {
  height: 40px;
}
